<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.2" targetFramework="net45" />
  <package id="ApprovalUtilities" version="3.0.2" targetFramework="net45" />
  <package id="FakeItEasy" version="1.13.1" targetFramework="net45" />
  <package id="Machine.Specifications" version="0.5.18-beta03" targetFramework="net45" />
  <package id="Moq" version="4.1.1309.1617" targetFramework="net45" />
  <package id="NSubstitute" version="1.6.1.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net40" />
  <package id="xunit" version="2.0.0-alpha-build2521" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0-alpha-build2521" targetFramework="net45" />
</packages>